<form method="POST" action="">
    Property name <input type="text" name="propertyname"/>
    <br>
    Property description <input type="text" name="description" />
    <br>
    Property type <input type="text" name="type" />
    <br>
    City <input type="text" name="city"/>
    <br>
    Number of bedrooms <input type="text" name="bedsnumber" />
    <br>
    Beds description <input type="text" name="bedsdescription" />
    <br>
    Your User ID <input type="text" name="userid" />
    <br>
        <input type="submit" >
</form>